html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
input {
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 40px;
  background-color: black;
  color: white;
}

body {
  padding: 2em;
}

input {
  appearance: none;
  border: none;
  width: 4em;
}
  input:focus {
    outline: none;
  }

.months {
  margin: 1em auto;
  position: relative;
}

.month {
  position: absolute;
  top: 0;
  left: 0;
}

.week {
  white-space: nowrap;
}

.day {
  display: inline-block;
  width: 2em;
  opacity: 0.1;
}
  .day--zero {
    opacity: 0;
  }
  .day:first-child,
  .day:last-child {
    color: red;
  }

@media (max-width: 800px) {
  body {
    padding: 1.5em;
  }

  body,
  input {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  body {
    padding: 1em;
  }

  body,
  input {
    font-size: 16px;
  }
}
