html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
input {
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  padding: 2em;
  color: red;
}

input {
  appearance: none;
  border: none;
  width: 4em;
  text-align: center;
  user-select: none;
  background-color: inherit;
  filter: grayscale(50%);
  color: inherit;
}
input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.app {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.months {
  margin: 1em auto;
  position: relative;
  text-align: left;
}

.month {
  position: absolute;
  top: 0;
  left: 0;
}

.week {
  white-space: nowrap;
}

.day {
  display: inline-block;
  width: 2em;
  opacity: 0.1;
  filter: grayscale(50%);
}
.day--zero {
  opacity: 0;
}
.day:first-child,
.day:last-child {
  filter: grayscale(0%);
}

.subtitles {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em 3em;
  text-align: center;
  font-size: 80%;
  color: yellow;
  text-shadow: 0 0 5px black, 0 0 5px black;
}

@media (max-width: 800px) {
  body {
    padding: 1.5em;
  }

  body,
  input {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  body {
    padding: 1em;
  }

  body,
  input {
    font-size: 16px;
  }
}
